:root {
  --bar-bg: white;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL */
* {
  font-family: Poppins, Arial;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.large-font {
  font-size: 60px;
}

.tight-letter-spacing {
  letter-spacing: -0.05em;
  line-height: 1.75;
}

.card-padding {
  padding: 24px 24px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

h1 {
  color: white;
}
h3 {
  color: white;
}
p {
  color: white;
}

div {
  color: white;
}

span {
  color: white;
}

body {background-color: black;}

/* HEADER */
.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: white;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid #26292B;
}

.navbar__links {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.navbar__links ul {
  list-style: none;
  padding: 0;
}

.nav-link-contact {
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav-link-contact:hover {
  color: #929496;
  background-color: #2b2f31;
}

.nav-links-anchor {
  text-decoration: none;
  color: white;

}


.overlay {
  position: fixed;
	top: 5.2%;
	left: 0%;
	width: 100%;
	height: 100vh;
	display: none;
	z-index: 98;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(16px);
	transition: 0.4s;
}


.overlay-ul {
  list-style: none;
}

.overlay-listitem {
  padding-bottom: 1rem;
  color: white;
}
.anchor-item {
  transition: 0.2s;
}
.anchor-item:active {
  color: #9BA1A6;
}
/*  */

.nav-links {
  display: block;
  margin-top: 0.3rem;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-name {
  position: block;
  margin-top: 0.2rem;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* HERO SECTION */
main {
  margin-top: 5rem;
}

.hero {
  display: flex;
  padding-bottom: 7rem;
  flex-direction: column;
  border-bottom: 2px solid #26292B;
  border-width: 100%;
}

.hero-text {
  color: #0072F5;
  margin: 0;
  letter-spacing: -0.05em;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(45deg, #0072F5 -20%, #FF4ECD 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.br-desktop {
  display: none;
}

.hero-p {
  font-size: 24px;
  margin-bottom: 3rem;
  margin-top: 0.6rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.card-flex {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card {
  background-color: #16181a;
  border: 2px solid #252729;
  border-radius: 12px;
}

.card-paragraph {
  line-height: 1.6;
}

/* DIFFERENCE */

.difference {
  padding: 80px 0;
}

@media (min-width: 768px) {
  .difference {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: solid 2px #26292B;
  }
}

.difference-header {
  text-align: center;
}

.chip-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
 flex-wrap: wrap; 
}

.chip-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.chip {
  display: inline;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.chip:nth-child(1), .chip:nth-child(6) {
  background-color: #10253E;
  color: #0072F5;
}

.chip:nth-child(1):active, .chip:nth-child(6):active {
  background-color: #1D324B;
  color: #0D7FFF;
}

.chip:nth-child(2), .chip:nth-child(5) {
  background-color: #042F14;
  color: #41EC8B;
}

.chip:nth-child(2):active, .chip:nth-child(5):active {
  background-color: #113C21;
  color: #4EF998;
}

.chip:nth-child(3) {
  background-color: #3a2503;
  color: #F6AD37;
}

.chip:nth-child(3):active {
  background-color: #473210;
  color: #FFBA44;
}

.chip:nth-child(4) {
  background-color: #300313;
  color: #F4256d;
}

.chip:nth-child(4):active {
  background-color: #3D1020;
  color: #FF327A;
}

/* CTA */

.input-field-names {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.input-field-contact {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cta-header {
  text-align: center;
}

.cta-label {
  display: block;
  padding-bottom: 0.3rem;
  color: white;
}

.cta-label::after {
  content: " *";
  color: red;
}

.contact{
  width: 50%;
}

.input-contact {
  width: 90% !important;
  padding: 0.7rem;
  border: 1px white solid;
  border-radius: 0.25rem;
  background-color: black;
  caret-color: white;
  color: white;
}

.text-area {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.message {
  color: white;
  width: 100%;
  border: 1px white solid;
  border-radius: 0.25rem;
  background-color: black;
  caret-color: white;
}

.submit-btn {
  padding: 1rem 3rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:active {
  background-color: #E6E6E6;
}

.cta {
  border-bottom: 2px solid #26292B;
  padding-bottom: 2rem;
}

/* FOOTER */

footer span {
  cursor: pointer;
}

.footer-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .nav-links {
    display: flex;
    gap: 55px;
  }
  .card-flex {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
  }

  .card {
    width: 30%;
  }

  .br-desktop {
    display: block;
  }

  .container {
    width: 100%;
    max-width: 99%;
    margin: 0 auto;
  }

  /* CHIP */
/* ??????? WTRF*/
  .chip-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    width: 50%;
  }

  .chip-grid {
    display: grid;
    grid-template-areas: 'pricing updates delivery revisions support deployments';
  }

  .chip {
    display: inline;
    padding: 0.7rem 1rem;
    border-radius: 12px;
    border: none;
    font-weight: bold;
  }
  
  /* CTA */
  .cta {
    padding: 80px;
  }

  .cards-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .cards {
    width: 20%;
  }


}

.menu-icon {
  position: relative;
  margin-right: 10px;
  height: 50px;
  width: 20px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}